<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="REPOModHelperArchiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <REPOModHelperArchiver.Properties.Settings>
            <setting name="UserSettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomBase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomBaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomAuthorURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomUpdateURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomREADME" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomOptionalPath" serializeAs="String">
                <value />
            </setting>
        </REPOModHelperArchiver.Properties.Settings>
    </userSettings>
</configuration>